.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
   
}

.card {
    width: 500px;
    margin: 20px;
    background: #fff;
    overflow: hidden;
    border-radius: 6PX;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.card img{
    width: 100%;
    height: auto;
}
.card-contenido{
    padding: 35px;
}
.card-contenido h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.card-contenido p{
    font-size: 15px;
    line-height: 1.3;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: #efefef;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
}
img{
    width: 110px;
}

.repeated-images {
    margin-top: 20px; 
    padding: 30px; 
}

.repeated-images h2 {
    font-family: sans-serif;
    font-size: 30px; 
    color: #333;
    margin-bottom: 10px; 
    text-align: center;
}

#imagenRepetida {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
}

#imagenRepetida img {
    max-width: 100px; 
    height: auto; 
    border: 1px solid #ddd; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    transition: transform 0.3s ease; 
}

#imagenRepetida img:hover {
    transform: scale(1.1); 
}